.tree-dark-img,
.tree-light-img {
    display: none;
}

.trunk-img {
    display: none;
}

.shadow-img {
    display: none;
}

.star-img {
    display: none;
}

.tree-part-1 {
    display: none;
}
.tree-part-2 {
    display: none;
}
.tree-part-3 {
    display: none;
}
.tree-part-4 {
    display: none;
}
.tree-part-5 {
    display: none;
}

.tree-part-p1 {
    display: none;
}
.tree-part-p2 {
    display: none;
}
.tree-part-p3 {
    display: none;
}
.tree-part-p4 {
    display: none;
}
.tree-part-p5 {
    display: none;
}

.sphere-p1 {
    display: none;
}
.sphere-p2 {
    display: none;
}
.sphere-p3 {
    display: none;
}
.sphere-p4 {
    display: none;
}
.sphere-p5 {
    display: none;
}

.candy-p1 {
    display: none;
}
.candy-p2 {
    display: none;
}
.star {
    display: none;
}

.trunk {
    display: none;
}

